<%= form_for @hourly_rate do |f| %>
  <%= error_messages_for 'hourly_rate' %>

  <div class="box tabular">
    <p>
      <%= f.label :user_id, l(:field_user) %>
      <%= f.select :user_id, options_from_collection_for_select(User.active, :id, :name, @hourly_rate.user_id), include_blank: true %>
    </p>

    <p>
      <%= f.label :project_id, l(:field_project) %>
      <%= f.select :project_id, options_from_collection_for_select(Project.visible, :id, :name, @hourly_rate.project_id), include_blank: true %>
    </p>

    <p>
      <%= f.label :rate, l(:field_rate) %>
      <%= f.text_field :rate, size: 10 %>
    </p>

    <p>
      <%= f.label :effective_date, l(:field_effective_date) %>
      <%= f.text_field :effective_date, size: 10 %><%= calendar_for('hourly_rate_effective_date') %>
    </p>
  </div>

  <p>
    <%= f.submit l(:button_save) %>
    <%= link_to l(:button_cancel), hourly_rates_path %>
  </p>
<% end %>
