<h2><%= l(:label_hourly_rate_edit) %></h2>

<%= form_for @hourly_rate do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= submit_tag l(:button_save) %>
<% end %>

<% content_for :sidebar do %>
  <h3><%= l(:label_hourly_rates) %></h3>
  <p><%= l(:text_hourly_rate_edit_info) %></p>
<% end %>

<% html_title l(:label_hourly_rate_edit) %>