<h2><%= l(:label_hourly_rate_new) %></h2>

<%= form_for @hourly_rate do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= submit_tag l(:button_create) %>
<% end %>

<% content_for :sidebar do %>
  <h3><%= l(:label_hourly_rates) %></h3>
  <p><%= l(:text_hourly_rate_new_info) %></p>
<% end %>

<% html_title l(:label_hourly_rate_new) %>